.center-title {
  text-align: center;
  color: aqua;
  font-weight: bold;
}

.center {
  text-align: center;
  color: aqua;
  font-weight: normal;
}

.bg-black {
  background-color: black;
}
.carta {
  width: 400px;
  background-color: gray;
}
.carta a {
  color: black;
}

.Rectangle {
  width: 1920px;
  height: 1200px;
  background-color: #fafafa;
  border: solid 1px #979797;
}
