.center-title {
  text-align: center;
  color: aqua;
  font-weight: bold;
}

.center {
  text-align: center;
  color: aqua;
  font-weight: normal;
}

.bg-black {
  background-color: black;
}
.carta {
  width: 400px;
  background-color: gray;
}
.carta a {
  color: black;
}
